#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

#flex-container {
  background-color: lightgreen;
  height: 20rem;
}

/* 2 / 9 */
/* 1 / 9 */

#first-child {
  flex-grow: 2;
}

.child {
  background-color: lightcoral;
  flex-grow: 1;
}
